:root{
  --base-grid: 3.5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 62.5%;
  color: #FCFCFD;
}

body {
  padding: 0;
}

.header{
  width:100%;
  height:100px;
  overflow:hidden;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content:space-around;
  align-items:center;
  background-color:#dbdbdb;
  z-index:4;
}

.logo{
  height: 90%;
  padding-right:10%;
}

a {
  text-decoration: none;
  color: #202020;
}

#navbar li{
  display:inline;
  padding-right: 0;
}

#navbar a{
  padding:5px 25px;
  font-size:1.5rem;
  font-weight:bold;
  transition-duration:0.4s;
}

#navbar a:hover{
  background: #f5f3db ;
  color: #24552A;
  transition-duration: 0.4s;
  font-size:1.6rem;
  padding:100% 26px;
}

.welcome-section{
  height:calc(100vh);
  padding-top: 100px;
  width: 100%;
}

#servicios, #metales, #beneficios, #contacto, #vacantes{
  height:calc(100vh);
  padding-top: 100px;
  width: 100%;
}

.welcome-img{
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 0;
}

h1{
  font-family: "Bebas Neue";
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 7rem;
  color: #2b2a2a;
  text-shadow: 3px 3px .5px #767575 ;
  z-index: 1;
}

.conoce-btn{
  position: absolute;
  top: 80%;
  left: calc(50% - 70px);
  z-index: 1;
  background-color: rgb(224, 53, 53);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f5f5f5;
  height: 35px;
  width: 140px;
  border: none;
  border-radius: 30px;
}

.conoce-btn:hover{
background-color: #dbdbdb;
color: rgb(224, 53, 53) ;
}

.conoce-btn:focus{
  background-color: #767575;
}

#servicios{
  display: flex;
}

.servicios-img{
  width: 45%;
  height: 90%;
  margin-left: 10%;
  position: relative;
  top: 45px;
}

.info-servicios{
  width: 30%;
  color: #2b2a2a;
  margin-top: 10vh;
  height: 80%;
  margin-left: 3%;
  
}

.info-servicios > h2{
  width: 80%;
  font-size: 4rem;
}

.info-servicios > p{
  font-size: 1.4rem;
  margin-top: 7%;
  text-align: left;
}

.met-link{
  color: #214092;
  font-weight: 800;
}

.met-link:hover{
  color: #21922e;
  font-weight: 1000;
  font-size: 1.45rem;
  transition: ease .5s;
}

#metales {
  background-color: #f5f5f5;
  width:100%;
}

#metales > h2{
  font-size: 2rem;
  font-family: 'Montserrat','Libre Baskerville','Bebas Neue';
  color: #292929;
  position: relative;
  top: -35px;
  padding-left: 60px;
  text-align: left;
}

.slider-container{
  height: calc(100vh - 250px);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.Slide{
  display: grid;
  grid-template-columns: 30px auto 30px;
  align-items: center;
  justify-content: center; 
  width: 40%;
}

.left-side, .right-side{
  text-align: center;
  margin-top: 50px;
}

.arrow-icon{
  color: rgb(53, 39, 39) ;
}

.principal-slide{
  padding: 0 15px;
  justify-self: center;
}

.slide-img{
  height: 300px;
  width: 370px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
  flex-grow: 2;
  position: static;
  transition: 3s ease-in ;
}

.principal-slide > p{
 font-family: "Anton", sans-serif;
 font-size: 20px;
 text-align: center;
 color: rgb(53, 39, 39) ;
}

.prev, .next{
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  justify-self: center;
}

.arrow-icon:hover, .arrow-icon:focus{
  background-color: #dbdbdb;
  color: rgb(53, 39, 39) ;
  font-weight: bolder;
  height: 70px;
  width: 25px;
  transition: 0.4s ease;
}

.left-side-img, .right-side-img{
  height: 200px;
  width: 220px;
  border-radius: 10px;
  margin-top: 90px;
  transition: 3s ease-out;
}

.left-side-img{
  transform: skewY(-10deg);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-right: 0px;
  transition: 2s;
}

.right-side-img{
  transform: skewY(10deg);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.first{
  position: relative;
  z-index: 3;
}

.second-l{
  z-index: 2;
  position: relative;
  top: -270px; left: -30px;
}

.second-r{
  z-index: 2;
  position: relative;
  top: -270px; left: 30px;
}

.third-l{
  z-index: 1;
  position: relative;
  top: -540px; left: -50px;
}

.third-r{
  z-index: 1;
  position: relative;
  top: -540px; left: 50px;
}

.beneficios-div{
  height: calc(100vh - 200px);
  width: 100%;
  overflow: hidden;
}

.beneficios-div > h2{
  font-size: 1.7rem;
  font-family: 'Montserrat', 'Bebas Neue';
  color: #292929;
  text-align: left;
  margin: 50px 0 0 50px;
}

.beneficios-img{
  width: 55%;
  height: 70%;
  margin-right: 0;
  position: absolute;
  right: 0;
  opacity: .9;
  z-index: -1;
}

.icons-div{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  --icon-size: calc(var(--base-grid)*30);
  padding-left: 15%;
}

.menu-text{
  font-size: 1rem;
  color: #202020;
  position: relative;
  left: -76px;
  top: 90px;
}

.menu-button{
    transform: scale(5);
    height: 15px; 
    position: absolute;
    left: 50%;
    margin: 40px 0 0 -500px;
    border-radius: 50%;
}

.menu-button:hover{
  box-shadow: rgba(163, 163, 163, 0.9) 1px 1px 2px;
}

#menu:not(:target)>a:first-of-type,
#menu:target>a:last-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:not(:target)>.icon-plus:before,
#menu:target>.icon-minus:before {
    opacity: 1;
}

.icons-list{
  list-style: none;
  width: 10%;
}

.icon-text{
  font-size: 1.5rem;
  color: #202020;
  margin-left: 25px;
  font-weight: 600;
}

.icon-item{
  width: 350px; 
  position: absolute;
  left: 10%;
  transform: translate(0px, 0px);
  transition: .7s;
  opacity: 0;
}

#menu:target>.icon-item{
  opacity: 1;
  margin: 0px 0 0 10px;
  /* overflow: hidden; */
  --angle: calc(60deg/4); 
  --rotation: calc(var(--angle)*3 - var(--angle)*var(--icon-count));
  transform:  rotate(var(--rotation)) translate(200px) rotate(calc(var(--rotation)*-1));
  transition-delay: 0s;
}

.icon-component{
  color: rgb(35, 35, 35);
  transform: scale(2.5);
}

#contacto, #vacantes{
  display: flex;
}

.contacto-img, .vacantes-img{
  width: 40%;
  height: 100%;
}

.info-contacto, .info-vacantes{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 5%;
}

.info-contacto>h2{
  font-size: 2.5rem;
  color: #202020;
  padding: 3% 0 3% 10%;
  text-align: center;
  width: 80%;
}

.info-vacantes>h2{
  font-size: 2.5rem;
  color: #202020;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.info-vacantes>h2:last-of-type{
  padding-bottom: 15px;
}

.info-contacto label, .info-vacantes label {
  font-size: 1.5rem;
  color: #202020;
  width: 20%;
  margin: 10px 0;
  display: inline-flex;
}

.form-contacto label[for=mensaje]{
   position: relative;
   top: -25px;
}

.form-vacantes>label[for=expreiencia]{
  position: relative;
  top: -8%;
}

.form-vacantes>label[for=resume]{
  position: relative;
  top: -11%;
}
  
.info-contacto input[type=text], .info-contacto input[type=email], .info-contacto select, .info-contacto textarea,
.info-vacantes input[type=text], .info-vacantes select, .info-vacantes textarea {
  width: 80%;
  display: inline-flex;
  margin: 10px 0 7px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.info-contacto input[type=submit], .info-vacantes input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.info-vacantes input[type=submit]{
  position: relative;
  top: -20px
}

input[type=submit]:hover {
  background-color: #45a049;
}

.info-vacantes .button-file{
  color: #ffffff;
  background-color: #0f8edd;
  font-family: "Montserrat";
  font-size: 1.4rem;
  padding: 10px 240px;
  border-radius: 4px;
  margin: 35px 0 0 0;
  width: 80%;
  text-align: center;
}

.info-vacantes label .icon{
  position: relative;
  top: 1px;
  margin-right: 8px;
}

.info-vacantes input[type=file]{
  display: none;
}

.info-vacantes .button-file:hover{
  background-color: #214092;
  cursor: pointer;
}




