:root{
  --base-grid: 3.5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 80%;
  color: #FCFCFD;
}

body {
  padding: 0;
}

.header{
  width:100%;
  height:50px;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content:space-around;
  align-items:center;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 0, 0, 0));
  z-index:4;
}

.logo{
  height: 110%;
  padding-left:0px;
}

.burger {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #202020;
}

#navbar li{
  display:inline;
  padding-right: 0;
}

#navbar a{
  padding:5px 45px;
  font-size:1.5rem;
  font-weight:bold;
  transition-duration:0.4s;
}

#navbar a:hover{
  /*background: #848484 ;*/
  color: #504d4d;
  transition-duration: 0.2s;
  font-size:1.7rem;
  padding:100% 40px;
}

#inicio, #servicios, #metales, #beneficios, #contacto{
  min-height:100vh;
  padding-top: 100px;
  width: 100%;
  box-sizing: border-box;
}

.welcome-section{ 
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("./images/grua4.png");
  background-size:100% 170%;         
  background-position: top center;   
  background-repeat: no-repeat;
}

.welcome-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.8); 
  z-index: 0;
}

.welcome-section > * {
  position: relative;
  z-index: 1;
}

.left-sec{
  width: 100%;
  height: 100%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  font-family: "Bebas Neue";
  text-align: left;
  font-size: 6rem;
  color: #2b2a2a;
  text-shadow: 2px 2px .5px #767575 ;
  z-index: 1;
}

p{
  color: #2b2a2a;
  padding-top: 5px;
  font-size: 1.4rem;
}

.conoce-btn{
  margin-top: 5%;
  margin-left: 25px;
  z-index: 1;
  background-color: #747a8e;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f5f5f5;
  height: 35px;
  width: 180px;
  border: none;
  border-radius: 30px;
}

.conoce-btn:hover{
background-color: #dbdbdb;
color: rgb(224, 53, 53) ;
}

.conoce-btn:focus{
  background-color: #767575;
}

.right-sec{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center; 
  position: relative;   
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.welcome-deco-img{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 2;
  aspect-ratio: 1 / 1; 
  width:75%;
  transform: translate(1%, -1%);
}

.gray-shape {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  aspect-ratio: 1 / 1; 
  width: 77%;
  background: #747a8e;
  border-radius: 50%;
  z-index: 1;
}

#servicios{
  padding-top: 0px;
  display: flex;
  align-items:end;
  height: 100vh;
}

.servicios-img{
  height: 80%;
  max-width: 50%;
  aspect-ratio: 10/8;
  margin-left: 10%;

}

.info-servicios{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  color: #2b2a2a;
  margin-top: 10vh;
  margin-left: 3%;
}

.info-servicios > h2{
  width: 80%;
  font-size: 8vh;
}

.info-servicios > p{
  font-size: 1.5rem;
  margin-top: 7%;
  text-align: left;
}

.met-link{
  color: #214092;
  font-weight: 800;
}

.met-link:hover{
  color: #21922e;
  font-weight: 1000;
  font-size: 1.45rem;
  transition: ease .5s;
}

#metales {
  background-color: #f5f5f5;
  width:100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 20vh 60vh 5vh;
}

#metales>h2{
  font-size: 6vh;
  color: #292929;
  padding-left: 60px;
  text-align: left;
  width: 30%;
}

.slider-container{
  width: 98%;
  height: 100%;
  margin-left: 1%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  align-content: start;
  overflow: hidden;
}

.Slide{
  display: grid;
  grid-template-columns: 30px auto 30px;
  align-items: center;
  justify-content: center; 
  
}

.left-side, .right-side{
  display: flex;
  align-items: center;
}

.left-side{
  justify-content: flex-end;   
}

.right-side{
  justify-content: flex-start;   
}

.arrow-icon{
  color: rgb(53, 39, 39) ;
}

.principal-slide{
  padding: 0 15px;
  justify-self: center;
  z-index: 2;
}

.slide-img{
  height: 50vh;
  aspect-ratio: 1/1;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 50%;
  position: static;
  transition: 3s ease-in ;
}

.principal-slide > p{
 font-family: "Anton", sans-serif;
 font-size: 4vh;
 text-align: center;
 color: rgb(53, 39, 39) ;
}

.prev, .next{
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  justify-self: center;
}

.arrow-icon:hover, .arrow-icon:focus{
  background-color: #dbdbdb;
  color: rgb(53, 39, 39) ;
  font-weight: bolder;
  height: 70px;
  width: 25px;
  transition: 0.4s ease;
}

.left-side-img, .right-side-img{
  height: 220px;
  width: 220px;
  border-radius: 10px;
  margin-top: 0%;
  transition: 3s ease-out;
   border-radius: 50%;
}

.left-side-img{
  transform: skewY(-5deg);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.right-side-img{
  transform: skewY(5deg);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.first{
  z-index: 3;
  top: 0;
}

.left-side .first{
  margin-left: -40%;
}

.second-l{
  z-index: 2;
  margin-left: -40%;
}

.second-r{
  z-index: 2;
  margin-left: -40%;
}

.third-l{
  z-index: 1;
}

.third-r{
  z-index: 1;
  margin-left: -40%;
}

#beneficios{
  padding-top: 0;
  background-color: #4a4a4a;
  height: 90vh;
 display: grid; 
 grid-template-rows: 15% 15% 60%;
 z-index: -3;
}

.background-img{
  position: absolute;
  height: 115%;
  width: 100%;
  opacity: .1;
  z-index: 1;
}

#beneficios .background-img, .job-section .background-img{
 clip-path: xywh(0 0px 100% 100% round 10% 10% 36% 36%);
}

#beneficios .wave-bg {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.benefit-text>h2{
  color: #ffffff;
  text-align: center;
  font-size: 2.7rem;
 padding-top: 1%;
 z-index: 2;
}

.beneficios-div{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 2;
  
}

.benefit-component, .vacantes-components{
  position: relative;
  text-align: center;
}

.img-wraper{
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}

.benefit-component .img{
  width: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 1;
}

.benefit-component .icon{
  position: relative;
  top: -70px;
  right: -25%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 50%;
  color: #ffffff;
  background-color: #747a8e;
  z-index: 2;
}

.benefit-component .text{
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  top: -40px;
}

#contacto, .vacantes-section{
  padding-top: 0;
  z-index: 1;
  height: 100vh;
}

#contacto .wave-bg, .vacantes-section .wave-bg {
  width: 100%;
  height: 20%;
  z-index: 3;
}

#contacto .background-img, .vacantes-section .background-img{
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: .1;
  z-index: -1;
}

.info-contacto, .info-vacantes{
  position: relative;
  top: -50px;
  z-index: 2;
  max-width: 30%;
  max-height: 110vh;
  min-height: 60vh;
  margin: auto;
  margin-top: 0%;
  background: #fff;
  border-radius: 16px;
  padding: 3% 5rem 3% 5rem;
   box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
  }

  .form-contacto, .form-vacantes{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.form-contacto>h2, .info-vacantes>h2{
  font-size: 2.3rem;
  color: #202020;
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.form-group{
  display: flex;
  align-items: center;
}

.info-contacto label, .info-vacantes label {
  font-size: 2vh;
  color: #202020;
  width: 20%;
}

.info-contacto input[type=text], .info-contacto input[type=email], .info-contacto select, .info-contacto textarea,
.info-vacantes input[type=text], .info-vacantes input[type=email], .info-vacantes textarea {
  width: 80%;
  display: inline-flex;
  margin: 10px 0 7px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.info-contacto input[type=submit], .info-vacantes input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.footer {
  background: linear-gradient(180deg, #403f3f 0%, #4a4a4a 100%);
  padding: 3.5rem 10rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr;
  align-items: flex-start;
  gap: 3rem;
  color: #d6d6d6;
  font-size: 0.95rem;
  border-top: 1px solid rgba(255,255,255,0.08);
}

.footer-logo img {
  max-width: 210px;
  opacity: 1;
}

.footer-col{
 text-align: left;
}

.footer h4 {
  font-size: 1.7rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.2rem;
}

.footer p,
.footer a {
  line-height: 1.6;
  opacity: 0.85;
  color: #d6d6d6;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

.footer .phone {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1.5px;
}

.footer strong {
  color: #ffffff;
}

.dev-credit {
  font-size: 0.75rem;
  color: #999;
}

.dev-credit a {
  color: inherit;
  text-decoration: none;
}

.dev-credit a:hover {
  text-decoration: underline;
}

.job-section{
  padding-top: 0;
  background-color: #4a4a4a;
  height: 90vh;
 display: grid; 
 grid-template-rows: 30% 70%;
}

.job-section .background-img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 107vh;
  opacity: .1;
  z-index: 0;
}

.job-section>h2{
  padding-top: 60px;
  color: #ffffff;
  text-align: center;
  font-size: 2.7rem;
}

.vacantes-components{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.info-vacantes h2{
  padding: 5% 0;
}

.info-vacantes label{
  width: 30%;
  margin: 20px 0;
}

.form-vacantes>label[for=experience]{
  position: relative;
  top: 10px;
}

.form-vacantes>label[for=resume]{
  position: relative;
  top: -5%;
}

.info-vacantes input[type=text], .info-vacantes input[type=email], .info-vacantes textarea {
  width: 70%;}

.info-vacantes textarea{
    height: 30%;
}

.info-vacantes .button-file{
  display: inline-flex;
  color: #ffffff;
  background-color: #0f8edd;
  font-family: "Montserrat";
  font-size: 1.4rem;
  margin: 0 0 15px 0;
  width: 70%;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-name{
  text-align: right;
  position: relative;
  top: -10%;
}

.info-vacantes label .icon{
  position: relative;
  top: 1px;
  margin-right: 8px;
}

.info-vacantes input[type=file]{
  display: none;
}

.info-vacantes .button-file:hover{
  background-color: #214092;
  cursor: pointer;
}

/******************************************************* RESPONSIVE DESIGN ********************************/
/* Tablet */
@media (max-width: 1100px) {
  #navbar a{
    padding:5px 15px;
  }

  #navbar a:hover{
  padding:80% 10px;
}

.info-servicios{
  margin-top: 0vh;
  height: 100%;
}

#metales>h2{
  width: 50%;
}

.slider-container{
  display: block;
}

.left-side, .right-side{
 display: none;
}

.slide-img{
  height: 300px;
  width: 300px;
}

.background-img{
  height: 90vh;
}

.benefit-component .img{
  height: 200px;
  width: 200px;
}

.benefit-text>h2{
  top: 10vh;
}

.beneficios-div{
  top: 10vh;
}

.benefit-component{
  height: 80%;
}

.benefit-component .icon{
  height: 50px;
  width: 50px;
  position: relative;
  left: 70px;
}

#contacto .wave-bg{
  height: 8%;
}

.info-contacto, .info-vacantes{
  max-width: 50%;
}

.info-contacto{
  max-height: 90vh;
}

.form-contacto{
  min-height: 70vh;
}

.form-vacantes{
  min-height: 50vh;
}


.footer {
  padding: 3.5rem 0rem;
  gap: 3rem;
}

.job-section>h2{
  top:30px;
}

.vacantes-components{
  top: 15%;
  padding-bottom: 50px;
}

}

/* Cellphone */
@media (max-width: 680px) {

  html {
  font-size: 70%;
}

  .header{
    justify-content: space-around;
  }

  .burger {
    display: block;
    border: #535353 solid 1px;
    border-radius: 20%;
    padding: 5px;
    margin-right:5%;
  }

  .nav-links {
    position: absolute;
    top: 10px;
    right: -50px;
    flex-direction: column;
    background-color: rgba(235, 235, 235, 0.8);
    border-radius: 20%;
    width: 200px;
    padding: 1rem 0;
    display: none;
    height: 15rem;
    font-size: 80%;
  }

  .nav-links.active {
    display: flex;
  }

  #navbar a{
  font-size:2rem;
}

.right-sec{
 display: none;
}

#servicios{
  flex-direction: column-reverse;
  height: 115vh;
  align-items: center;
}

.servicios-img{
  width: 60%;
  height: 60%;
  margin-left: 10%;
}

.info-servicios{
  width: 80%;
  margin-top: 10vh;
  padding: 5vh;
}

#metales{
  height: 90vh;
}

.slider-container{
  height: 80%;
}

#metales>h2{
  width: 90%;
  font-size: 4vh;
  margin: -10vh 0 10vh 0;
}

.slide-img{
  height: 250px;
  width: 250px;
}

#beneficios{
  height: 135vh;
  grid-template-rows: 2% 3% auto;
}

.job-section{
  height: 135vh;
  grid-template-rows: 3% auto;
}

.background-img, .job-section .background-img{
  height: 135vh;
}

.benefit-text>h2{
  margin-top: 20px;
}

.beneficios-div, .vacantes-components{
  height: 100%;
  margin-top: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.benefit-component .img{
  height: 160px;
  width: 160px;
}

.benefit-component .icon{
 left: 17px;
}

#contacto, .vacantes-section{
  height: 80vh;
}

.info-contacto, .info-vacantes{
  margin-top: 60%;
  max-width: 90%;
  max-height: 80vh;
   padding: 3rem;
}

.info-contacto{
  top: -200px;
}

.info-vacantes{
  top: -300px;
}


.footer {
  padding: 3.5rem 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
   grid-template-areas:
    "logo"
    "center"
    "schedule"
    "nav";
   
}

.footer h4 {
  font-size: 1.5rem;
}

.footer-logo{
  grid-area: logo;
  height: 100%;
  aspect-ratio: 15 / 5;
}

.footer .center{
  grid-area: center;
  text-align: center;
}

.footer .nav{
  grid-area: nav;
  line-height: 0rem;
  text-align: center;
  font-size: 5rem;
  display: inline;
}

.footer .nav li{
   display: inline;
}

.footer .schedule{
  grid-area: schedule;
  text-align: center;
}


}


